@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=McLaren|Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|McLaren|Zhi+Mang+Xing&display=swap');

body {  
    background-image: url(../img/arvore.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    background-color: #0073aa;
    color: #123; 
    text-align: left;
    margin: 0px;
    font-size: 4vh;
    padding: 10px;
    font-family: 'Zhi Mang Xing', cursive;
}


/* menu principal do SITE  */
#listademenu > ul > li > a > .home{
    color: #123;
}



#listademenu {
    width: 100%;
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
    margin-bottom: 3%;
    padding-top: 0;
    background-color: rgb(0, 0, 0, 0.7) ;
    transition-duration: 0.5s;      
}
#listademenu ul > li {
    padding: 1.4vh 0.6vh;
    display: inline-block;

}
#listademenu ul > li > a {
    background-color: #123;
    padding: 5px;
    color:white;
    text-decoration: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.7vh 1.5vh; /**mudar para em  **/
    font-size: 2.8vh;
    transition-duration: 0.5;
}


#listademenu ul > li > a:hover{
    color: #0073aa;
}
/* *************************************** */

/* colocacao de fotos principais */
h2 {
    font-size: 5vh;
    font-family: 'Big Shoulders Display', cursive;

}

/* .linhafotos1 > ul > li > div > div > img.morro:hover{
    width: 40vh;
    transition-duration: 0.5s;
} */
.image{
    display: inline-table;
    width: 36vh;
    padding: 15px;
    background: rgb(0, 0, 0,0.9);
    border: white solid 5px;
    width: 36vh;
    margin-left: 3vh;
    transition-duration: 0.1s;
}

.image img{
    width: 40vh;
    height: auto;
    top: 0;
    transition-duration: 0.1;
}
.image:hover{
    transform: translateX(5vh) translateY(10vh) scale(1.2);
    transition: 0.5s;
}
.image > p{
    padding: 0;
    display: inline-block;


}
main {
    width: 89.2%;
    margin: 0 auto 0 auto;
    text-justify: auto;
    border-radius: 15px;
    padding: 10px;
    border: #123 groove;
    transition-duration: 0.5s;
}
 p {
    text-justify: auto;
    color: white;
    font-size: 3vh;
    line-height: 2;
    padding: 20px 50px;
    font-family: all; 
    text-align: justify;
    transition-duration: 0.5s;
    
     
}
.box {
    border-radius: 7.2px;
    background:rgb(0, 0, 0, 0.7);
}

/* imagens com animaçao */

.tabela > a{
    margin: 0;
}
.img1 {
    
    height: 19vh;
    width: 19vh;   

}

.img2 {
    height: 19vh;
    width: 19vh;
    margin-top: 10%;
}

#mapa {
    height: 60%;
    width: 70%;
    border-radius: 5%;
    padding-left: 2%;
    
}

#telapreta {
    width: 70%;
    margin: 0 auto 0 auto;
    background-color:black;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 10px;
    opacity: 99;
    border: #123 groove;
}
#box_img {
    border-spacing: 0;
    display: inline-block;
}
footer {
    margin-top: 10%;
    border-top:1px #123 solid;
    clear: both;
    color: whitesmoke; 
    padding-top: 2%;
}
 

/* bloco para ser aplicado no celular */

@media (max-width: 650px) {
    #listademenu  ul > li > a {
        font-size: 2.5vh;
        transition-duration: 0.5s;
    }

    main {
        width: 95%;
        transition-duration: 0.5s;
    }
    p{
        padding: 7px 15px;
        transition-duration: 0.5;
    }
    #listademenu > img.image {
        width: 20px;
    }
    
}
@media(max-width: 411px){
    #listademenu ul > li > a{
        font-size: 2px;
    }
}
