@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=McLaren|Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|McLaren|Zhi+Mang+Xing&display=swap');

body {  
    background-image: url(../img/arvore.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    background-color: #0073aa;
    color: #123; 
    text-align: left;
    margin: 0px;
    font-size: 4vh;
    padding: 10px;
    font-family: 'Zhi Mang Xing', cursive;
}
.h1Menu{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
}


/* menu principal do SITE  */
#listademenu > ul > li > a > .home{
    color: #123;
}



#listademenu {
    width: 100%;
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
    margin-bottom: 3%;
    padding-top: 0;
    background-color: rgb(0, 0, 0, 0.7) ;
    transition-duration: 0.5s;  
    top:0;
}
#listademenu ul > li {
    padding: 1.4vh 0.6vh;
    display: inline-block;

}
#listademenu ul > li > a {
    background-color: #123;
    padding: 5px;
    color:white;
    text-decoration: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.7vh 1.5vh; /**mudar para em  **/
    font-size: 2.8vh;
    transition-duration: 0.5;
}


#listademenu ul > li > a:hover{
    color: #0073aa;
}
/* *************************************** */

/* colocacao de fotos principais */
h2 {
    font-size: 5vh;
    font-family: 'Big Shoulders Display', cursive;

}

.caixafotos{
    background-color:  gray;
    border: solid 3px black;
    margin-bottom: 3vh;
} 
.image  {
    display: inline-table;
    padding: 5px;
    margin-left: 3vh;
    transition-duration: 0.1s;
    width: 36vh;
    height: auto;
    
}
.image > .boxMenu{
    background: rgb(0, 0, 0, 0.7);
    border: 2px solid white;
    text-align: center;
}
.tituloP{
    text-align: center;
}

.image img{
    width: 38vh;
    height: auto;
    top: 0;
    transition-duration: 0.1;
}
.image > .boxMenu:hover{
    transform: translateX(1vh) translateY(1vh) scale(1.1);
    transition: 0.5s;
}
.image > .boxMenu:hover > .fotoP > p {
    font-size: 10pt;
    padding: 3px;
    text-align: justify;
}
.image > .boxMenu:hover > .fotoP {
    background-color: grey;
    border-radius: 5px;
    margin: 5px; 
    font-size: 10pt;
    transition-duration: 0.5s;
}
.tituloP{
    color: white;
    border-radius: 2px;
    font-size: 13pt;
    display: inline;
    
} 
.image > .boxMenu > .fotoP > p {
    font-size: 10pt;
    padding: 1vh;
    text-align: justify;
}
main {
    width: 89.2%;
    margin: 0 auto 0 auto;
    text-justify: auto;
    border-radius: 15px;
    padding: 10px;
    border: #123 groove;
    transition-duration: 0.5s;
    margin-top:20vh;
}
p{
    text-justify: auto;
    color: white;
    font-size: 3vh;
    line-height: 2;
    padding: 20px 50px;
    font-family: all; 
    text-align: justify;
    transition-duration: 0.5s;
    
     
}
.box{
    border-radius: 7.2px;
    background:rgb(0, 0, 0, 0.7);
}

/* imagens com animaçao */
.img1 {
    
    height: 19vh;
    width: 19vh;   

}

.img2 {
    height: 19vh;
    width: 19vh;
    margin-top: 10%;
}

#mapa {
    height: 60%;
    width: 70%;
    border-radius: 5%;
    padding-left: 2%;
    
}

#telapreta {
    width: 70%;
    margin: 0 auto 0 auto;
    background-color:black;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 10px;
    opacity: 99;
    border: #123 groove;
}
#box_img {
    border-spacing: 0;
    display: inline-block;
}
footer {
    margin-top: 10%;
    border-top:1px #123 solid;
    clear: both;
    color: whitesmoke; 
    padding-top: 2%;
}


/* bloco para ser aplicado no celular */

@media (max-width :1280px){
    .linhafotos1 > .image  .boxMenu > img {
        width: 20vh;
    }
    .linhafotos1 > .image  .boxMenu{
        width: 20vh;
    }
}
@media (max-width: 750px) {
.linhafotos1 > .image  .boxMenu > img {
        width: 20vh;
        transition-duration: 0.5s;
    }
.linhafotos1 > .image > .boxMenu > .fotoP > p{
    font-size: 8pt;
    transition-duration: 0.5s;
}
.linhafotos1 > .image{
    width: 19vh;
    transition-duration: 0.5s;
}
    h2{
        font-size: 3vh;
    }

    
    #listademenu  ul > li > a {
        font-size: 2.0vh;
        transition-duration: 0.5s;
        padding-top:1.5vh;
        margin-bottom: 10000px;
    }

    main {
        width: 95%;
        transition-duration: 0.5s;
    }
    p{
        padding: 7px 15px;
        transition-duration: 0.5;
    }
    
}

