@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=McLaren|Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|McLaren|Zhi+Mang+Xing&display=swap');

body {  
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    background-color: #0073aa;
    color: #123; 
    text-align: left;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
    padding: 10px;
    font-family: 'Zhi Mang Xing', cursive;
}
h2 {
    color: white;
    text-align: center;
    padding: 2%;
    font-size: 20px;
}

main {
    width: 89.2%;
    margin: 0 auto 0 auto;
    text-justify: auto;
    border-radius: 15px;
    padding: 10px;
    border: #123 groove;
    transition-duration: 0.5s;
    transition-delay: .5s;
}
/* menu principal  */

#listademenu {
   
    color: yellow;
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
    margin-bottom: 3%;
    padding: 10px;
    padding-top: 0;
    margin-top: 0;
    background-color: rgb(0, 0, 0, 0.7) ;
    transition-duration: 0.5s;
    
}

#listademenu li {
    display: inline-block;
    position: relative;
    top: 0;
    margin-top: 10px;
    
    
}
#listademenu li a {
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 5px 10px; /**mudar para em  **/
    background-color: #123;
    font-size: 4vh;
    

    
}
ul > li:hover > a{
    background: rgb(0, 0, 0, 0.8);
    border-top:  2px solid #123;
    width: 80px;
    color: #0073aa;
}

p {
    text-justify: auto;
    color: white;
    font-size: 3vh;
    line-height: 2;
    padding: 20px 50px;
    font-family: all; 
    text-align: justify;

    
    
}
.box {
    border-radius: 7.2px;
    background:rgb(0, 0, 0, 0.7);
}

/* imagens com animaçao */
img {
    border: 4px rgb(0, 0, 0, 0.9) solid;
    border-spacing: 0;
}
.img1 {
    
    height: 19vh;
    width: 19vh;   

}

.img2 {
    height: 19vh;
    width: 19vh;
    margin-top: 10%;
    

}
footer {
    margin-top: 10%;
    border-top:1px #123 solid;
    clear: both;
    color: whitesmoke; 
    padding-top: 2%;
}
 
#mapa {
    height: 60%;
    width: 70%;
    border-radius: 5%;
    padding-left: 2%;
    
}

#telapreta {
    width: 70%;
    margin: 0 auto 0 auto;
    background-color:black;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 10px;
    opacity: 99;
    border: #123 groove;
}
#box_img{
    border-spacing: 0;
    display: inline-block;
}


/* bloco para ser aplicado no celular */

@media only screen and (max-width: 650px) {
    #listademenu > ul > li > a {
        font-size: 13pt;
        transition-duration: 0.5s;
    }

    main {
        width: 95%;
        transition-duration: 0.5s;
    }
    p{
        padding: 7px 15px;
        transition-duration: 0.5;
    }
    
}